.footer {
  background-color: #333333;

  .p-top-novel-month {
    padding: 15px 20px;
  }

  .h2 {
    font-size: 20px;
  }

  .pv-description {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .text-link {
    color: #016EB2;
  }

  .top-novel {
    color: #AAAAAA;
    margin-right: 5px;
  }

  .pr-logo {
    padding-right: 5px;
  }
}